.navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar ul li {
    margin: 0;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .navbar ul li a.active {
    font-weight: bold;
  }

  .header-img {
    background-image: url("/assets/placeholder.png");
  }